<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.demo.dao.good.SuGoodsMapper">
  <resultMap id="BaseResultMap" type="com.supermarket.demo.model.good.SuGoods">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="kind_id" jdbcType="BIGINT" property="kindId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uom" jdbcType="VARCHAR" property="uom" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, kind_id, number, name, uom, remark, created_by, created_date, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from su_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from su_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.supermarket.demo.model.good.SuGoods">
    insert into su_goods (id, kind_id, number, 
      name, uom, remark, 
      created_by, created_date, is_delete
      )
    values (#{id,jdbcType=BIGINT}, #{kindId,jdbcType=BIGINT}, #{number,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{uom,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=BIGINT}, #{createdDate,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.supermarket.demo.model.good.SuGoods">
    insert into su_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kindId != null">
        kind_id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="uom != null">
        uom,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="kindId != null">
        #{kindId,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uom != null">
        #{uom,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.supermarket.demo.model.good.SuGoods">
    update su_goods
    <set>
      <if test="kindId != null">
        kind_id = #{kindId,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uom != null">
        uom = #{uom,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.supermarket.demo.model.good.SuGoods">
    update su_goods
    set kind_id = #{kindId,jdbcType=BIGINT},
      number = #{number,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      uom = #{uom,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="queryGoods" resultType="com.supermarket.demo.model.good.SuGoods">
  	select * from su_goods where is_delete = 0 order by created_date asc
  </select>
  
  <update id="delete" parameterType="java.lang.Long">
  	update su_goods set is_delete = 1 where id = #{id}
  </update>
  
  <select id="query" parameterType="com.supermarket.demo.model.good.SuGoods" resultType="com.supermarket.demo.model.good.SuGoods">
  	select * from su_goods 
  	where is_delete = 0  
  	<if test='number != null and number != ""'>
  		and number like '%${number}%' 
  	</if>
  	<if test='name != null and name != ""'>
  		and `name` like '%${name}%' 
  	</if>
  </select>
</mapper>