<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.demo.dao.good.SuKindMapper">
  <resultMap id="BaseResultMap" type="com.supermarket.demo.model.good.SuKind">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_date" jdbcType="DATE" property="createdDate" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <insert id="insert" parameterType="com.supermarket.demo.model.good.SuKind">
    insert into su_kind (id, name, created_by, 
      created_date, is_delete)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, 
      #{createdDate,jdbcType=DATE}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.supermarket.demo.model.good.SuKind">
    insert into su_kind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=DATE},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <select id="queryKind" resultType="com.supermarket.demo.model.good.SuKind">
  	select * from su_kind where is_delete = 0 order by created_date asc
  </select>
  
  <update id="delete" parameterType="java.lang.Long">
  	update su_kind set is_delete = 1 where id = #{id}
  </update>
</mapper>